body {
  background-color: white;
  text-align: center;
}
p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #a5d4cd;

}

h2 {
font-family: 'Roboto Slab', serif;
}
