body {
  background-color: #a5d4cd;
  text-align: center;
  margin: auto;
}

img {
  width: 40%;
  height: 40%;
  border: none;
}

p {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Josefin Sans','Helvetica', sans-serif;
  color: white;
  font-size: 50px;
}

h2 {
font-family: 'Roboto Slab', 'Georgia', serif;
color: #959595;
font-size: 40px;
}

ul {
  list-style-type: none;
  text-align: center;
  font-family: 'Roboto Slab', 'Courier', serif;
  background-color: black;
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

a {
  text-decoration: none;
  color: white;
  margin: auto;
}

a:hover {
  color: #959595;
}

#joke {
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: auto;
  max-width: 600px;
}

#navigation {
  display: flex;
  flex-flow: row wrap;
}
li {
  padding: 10px;
}
