body {
  background-color: #a5d4cd;
  text-align: center;
  margin: auto;
}

img {
  width: 55%;
  height: 55%;
  border: none;
}

p {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1em;
}

h1 {
  font-family: 'Josefin Sans','Helvetica', sans-serif;
  color: white;
  font-size: 2.5em;
}

h2 {
font-family: 'Roboto Slab', 'Georgia', serif;
color: #959595;
font-size: 1.5em;
}

ul {
  list-style-type: none;
  text-align: center;
  font-family: 'Roboto Slab', 'Courier', serif;
  background-color: black;
  min-width: 75%;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
  margin: auto;
}

a:hover {
  color: #959595;
}

#joke {
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: auto;
  max-width: 55%;
}

#navigation {
  display: flex;
  flex-flow: row wrap;
}
li {
  padding: 10px 10px 10px 10px;
}
